/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
    
/* this media querry is disagned for users using devices over 600px screens. */

body{
     font-size: 16px;
     
     margin:auto;
    }

/*menu banner */
    header{
      
       height: 70px;
       flex-wrap: nowrap;
       justify-content:center;
       align-items: center;
               
      }

   
/*div*/    
    nav {
    border-top: 0px;
    order:0;
    width: 100%;
    justify-content: center;
  
    }

    .menu-img{
        padding-left: 20px;
    }
    .move_menu{
        order:1;
        justify-content: center;
      }
    
/* Section New Collection */
.new_collection{
margin-top:70px;
background-size: auto, 210px, contain;
background-repeat:no-repeat, no-repeat, repeat;

}


/* Section handcrafted*/

.hand-crafted{
   width: 50%;
   min-width: 571px;
   margin:auto;
   
}


/* Section Portfolio*/
.portfolio{
       grid-template: 1fr 1fr/repeat(4, 1fr);
}
.divf{
    
     grid-column: 3 / 5;
    
     
}


/*products*/

.products{
    padding-top: 70px;
    width: 90%;
    }

.products h2{
    width: 100%;
    overflow: visible;
       }

/*sign-up*/


.sign_up p{
    width: 50%;
    min-width: 571px;
    margin:20px auto;
    
}

.sign_up input{

       width: 350px;
 }


 /*footer*/


footer{

    flex-direction: row;
    text-align: left;
    }

footer .right_footer span {

display: flex ;
 }

 footer ul{
    
    flex-direction: column;
 }

 footer li{
    display:flex;
    padding:3px 0;
 }
}